@font-face {
    font-family:'steagal_ze_light';
    src: url('../fonts/ze_steagal/zeiteffekt_steagal_light-webfont.eot');
    src: url('../fonts/ze_steagal/zeiteffekt_steagal_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_light-webfont.woff') format('woff'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_light-webfont.ttf') format('truetype'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_light-webfont.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'steagal_ze_medium';
    src: url('../fonts/ze_steagal/zeiteffekt_steagal_medium-webfont.eot');
    src: url('../fonts/ze_steagal/zeiteffekt_steagal_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_medium-webfont.woff') format('woff'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_medium-webfont.ttf') format('truetype'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_medium-webfont.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'steagal_ze_regular';
    src: url('../fonts/ze_steagal/zeiteffekt_steagal_regular-webfont.eot');
    src: url('../fonts/ze_steagal/zeiteffekt_steagal_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_regular-webfont.woff') format('woff'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_regular-webfont.ttf') format('truetype'),
         url('../fonts/ze_steagal/zeiteffekt_steagal_regular-webfont.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}