/* Global Type / Element Styles
============================================================================*/

img {
	width: 100%;
}

p {
	
}

h1 {
	font-family: 'steagal_ze_medium';
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: em(50);
}

h2 {
	font-family: 'steagal_ze_medium';
	color: #333;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: em(30);
	text-align: left;
}