// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Border Radius Top Only
@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-radius-topright: $radius;
     -moz-border-radius-topleft: $radius;
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;     
}

// Border Radius Bottom Only
@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-radius-bottomright: $radius;
     -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
          border-bottom-right-radius: $radius;     
}



// Center a Block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Transition All
@mixin transition-all {
	-webkit-transition: all 0.2s ease-out; 
       -moz-transition: all 0.2s ease-out; 
     	 -o-transition: all 0.2s ease-out; 
     		transition: all 0.2s ease-out;
}

/* Transition Font Size */
@mixin transition-font {
	-webkit-transition: font-size 0.2s ease-out; 
	   -moz-transition: font-size 0.2s ease-out; 
		 -o-transition: font-size 0.2s ease-out; 
			transition: font-size 0.2s ease-out;
}

// Buttons

@mixin button($border, $text, $background) {
	@include border-radius(6px);
	@include bold-font(20);
	text-transform: uppercase;
	letter-spacing: 1px;
	border-width: 3px;
	border-style: solid;
	text-align: center;
	padding: 8px 12px 6px 12px;
	border-color: $border;
	color: $text;
	background-color: $background;
	text-decoration: none;
}

// Breakpoints

@mixin media($point) {
  
  	// $xs: Is the Default --> Mobile First. // RED
	$sm: "(min-width: 480px)"; // BLUE
	$md: "(min-width: 768px)"; // GREEN
	$lg: "(min-width: 992px)"; // PURPLE
	$xl: "(min-width: 1200px)";	// ORANGE

	@if $point == small {
    	@media #{$sm} { @content; }
	}
	@else if $point == medium {
    	@media #{$md} { @content; }
	}
	@else if $point == large {
    	@media #{$lg}  { @content; }
	}
	@else if $point == extra-large {
    	@media #{$xl}  { @content; }
	}	
}