/* Define Custom Vars
============================================================================*/

$red: #da453d;
$orange: #f05622;
$yellow: #f3b32a;
$green: #1e9c5b;
$blue: #49b4ce;

$teal: #00afaa;
$darkTeal: #3e4543;