/* Framework Imports
============================================================================*/

@import "../bootstrap/stylesheets/bootstrap.scss";
@import "bourbon";

// Custom Stuff

@import "mixins";
@import "variables";
@import "typography";


// Lockout at Large size - not sure about this yet

/*
.container {
	max-width: 940px !important;
}
*/

/* HTML / Body
============================================================================*/

html {	
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: visible;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: visible;
	font-family: 'gotham_bookregular', Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #333;
	font-size: em(20);
	
	@include media(large) {
		font-size: em(23);
	}
	//@include media(extra-large) {
	//	font-size: em(26);
	//}
}

div {
	position: relative;
}

img {
	width: 100%;
}

/* Indicator for testing
============================================================================*/

.indicator {
	position: fixed;
	top: 50px;
	left: 0px;
	z-index: 8000;
	width: 20px;
	height: 20px;
	background-color: red;
	@include media(small) { background: blue; }
	@include media(medium) { background: green; }
	@include media(large) { background: purple; }
	@include media(extra-large) { background: orange; }
}

/* Buttons / Interaction
============================================================================*/

.btn {
	@include border-radius(5px);
	border: 2px solid #333;
	padding: 10px;
	font-family: 'steagal_ze_medium';
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: em(15);
	color: #333;
	text-decoration: none;
}

/* Top Nav
============================================================================*/

nav {
	width: 100%;
	height: 35px;
	padding: 5px 0;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 200;
	@include media(medium) {
		bottom: auto;
		top: 0;
	}
	#logo {
		width: 20px;
		float: left;
		display: block;
		margin-left: 20px;
	}
	#contact {
		width: 180px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
		li {
			float: left;
			a {
				width: 35px;
				display: block;
				margin: 0;
				padding: 0;
				font-size: 0;
				margin-right: 10px;
			}
		}
	}
}

/* Header
============================================================================*/

header {
	background: url('../img/misty-background.jpg') center center no-repeat;
	background-size: cover;	
	background-attachment: fixed;
	.intro {
		padding: 10% 10% 0 10%;
		@include media(medium) {
			padding: 10% 15px 0 15px;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 20px;
		}
		p {
			color: #c2e0dc;
		}	
		img {
			width: 80%;
			margin: 0 auto;
			display: block;
			@include media(medium) {
				width: 100%;
			}
			// Comment this out if we wanna remove the large breakpoint
			@include media(extra-large) {
				width: 90%;
				float: left;
			}
		}		
	}
}

/* Buttons / Interaction
============================================================================*/

.btn {
	@include border-radius(5px);
	border: 2px solid $teal;
	padding: 10px;
	font-family: 'steagal_ze_medium';
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: em(20);
	color: $teal;
	text-decoration: none;
	&:hover {
		opacity: 1;
		background-color: lighten($teal, 60%);
		color: $teal;
	}
}

/* Layout
============================================================================*/

.content {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e1e1e1;
	@include media(extra-large) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	h1 {
		margin: 0;
		font-size: em(55);
		@include media(small) {
			margin: 10px 0 0 0;
		}
	}
	h2 {
		margin: 10px 0 0 0;
		font-size: em(20);
	}
	.col-icon {
		img {
			@include media(large) {
				width: 80%;
			}
		}
	}
	.row-example {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.col-badge {
		img {
			width: 50%;
			display: block;
			margin: 0 auto;
			@include media(small) {
				width: 100%;
			}
		}
	}
	a {
		background: url('../img/right-arrow.svg') no-repeat;
		padding-left: 15px;
		margin-top: 20px;
		display: inline-block;
		&:hover {
			color: $teal;
			opacity: .5;
		}
		&:focus {
			text-decoration: none;
			color: $teal;
			opacity: .5;			
		}
	}
}

/* Footer
============================================================================*/

footer {
	background: url('../img/misty-background.jpg') center center no-repeat;
	background-size: cover;	
	background-attachment: fixed;
	padding: 50px 0;
	h2 {
		text-align: center;
		color: #fff;
		margin-bottom: 50px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		color: #fff;
		li {
			a {
				display: block;
				padding: 20px 0;
				color: #c2e0dc;
				border-top: 1px dotted rgba(255,255,255, 0.4);
				img {
					float: right;
					width: 40px;
				}
				&:hover {
					color: #c2e0dc;
					opacity: .5;
				}				
			}
		}
		li:first-child {
			a {
				border-top: none;
			}
		}
	}
}