/* Framework Imports
============================================================================*/

@import "bourbon";
@import "bourbon", "neat";

// Custom Stuff

@import "grid-settings";
@import "mixins";
@import "variables";
@import "grid-settings";
@import "fonts";
@import "global-elements";

/* HTML / Body
============================================================================*/

html {	
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: visible;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: visible;
	font-family: 'steagal_ze_light';
	font-weight: normal;
	font-size: em(15);
	line-height: 1.5;
	color: #333;
}

div {
	position: relative;
}

/* Indicator for testing
============================================================================*/

.indicator {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1000;
	width: 20px;
	height: 20px;
	background-color: red;
	// responsive
	@include media($sm) {
		background: blue; 
	}
	@include media($md) {
		background: green;
	}
	@include media($lg) {
		background: purple; 
	}
	@include media($xl) {
		background: orange; 
	}	
}

/* Full Screen BG
============================================================================*/

#page-wrap { 
	position: relative;
	z-index: 500;
	width: 100%;
	height: 100%;	 	
}

#header-cover {
	background-position: right top;
	background-size: cover;
	position: fixed;
	top: 0;
	z-index: 300;
	width: 100%;
	height: 100%;
	//background-color: $red;	
}

/* Borders $sm +
============================================================================*/

@include media($sm) {
	#top, #bottom, #left, #right {
		background: #fff;
		position: fixed;
		z-index: 600;
	}
	#left, #right { top: 0; bottom: 0; width: 20px; }
	#left { left: 0; }
	#right { right: 0; }
	#top, #bottom { left: 0; right: 0; height: 20px; }
	#top { top: 0; }
	#bottom { bottom: 0; }
}

/* Lean Overlay
============================================================================*/

#lean_overlay {
    position: fixed;
    z-index:900;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.work-modal {
	width: 740px;
	padding: 30px; 
	top: 10% !important;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);    
}

/* Buttons / Interaction
============================================================================*/

#toggle {
	display: block;
	width: 30px;
}

.btn {
	@include border-radius(5px);
	border: 2px solid #fff;
	padding: 10px;
	font-family: 'steagal_ze_medium';
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: em(15);
	color: #fff;
	text-decoration: none;
}

#down {
	position: absolute;
	bottom: 20px;
	display: block;
	width: 40px;
	margin-bottom: 0;
	@include media($md) {
		width: 60px;
		bottom: 40px;
	}
}

/* Header
============================================================================*/

header h1, header h2, header p { color: #fff; }

header {
	@include outer-container;
	height: 100%;
	#logo {
		width: 40px;
		height: 29px;
		position: absolute;
		top: 20px;
		@include media($sm) {
			top: 40px;
		}		
		@include media($md) {
			width: 60px;
			height: 43px;
			top: 40px;
		}
	}	
	.intro {
		position: absolute;
		top: 15%;
		padding: 0 5% 0 0;
		h1 {
			margin: 0;
			font-size: em(50);
			@include transition-font();
		}
		h2 {
			font-size: em(15);
			color: #fff;
			line-height: 1.5;
			margin: 5px 0;
			@include transition-font();		
			border: none;
		}	
		p {
			margin-top: 0;
			margin-bottom: 30px;
		}		
		@include media($sm) {
			top: 30%;
			width: 80%;
			h1 { font-size: em(60); }
			h2 { font-size: em(20); }
		}
		@include media($md) {
			width: 60%;
			h1 { font-size: em(70); }				
		}
		@include media($lg) {
			width: 50%;
			h1 { font-size: em(80); }				
		}
		@include media($xl) {
			max-width: 600px;
			h1 { font-size: em(90); }
		}			
	}
}

/* Content Section
============================================================================*/

.section-wrap {	
	background-color: #f2f0ed;
	section {
		@include outer-container;
		padding: 30px 0;
		@include media($sm) {
			padding: 60px 0;
		}
	}
}

/* Project Items
============================================================================*/

#projects {
	ul {
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 20px; 
			padding: 50px 0;
			text-align: center; 
			border-bottom: 1px solid rgba(0,0,0,0.1);
			a:hover {
				cursor: default;
				opacity: 1;
				@include media($md) {
					cursor: pointer;
					opacity: 0.8;
				}
			}
			@include span-columns(12);
			// Responsive
			@include media($sm) {
		    	@include span-columns(4);
			}
			@include media($md) {
				@include span-columns(4);
				@include omega(2n);
			}
			@include media($lg) {
		    	@include omega-reset(2n);
				@include span-columns(4);
				@include omega(3n);
			}
			@include media($xl) {
		    	@include omega-reset(3n);
				@include span-columns(4);
				@include omega(3n);
			}
		}
	}		
}

/* Experience
============================================================================*/

#experience {
	dl { 
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 20px; 
			border: 5px solid rgba(0,0,0,0.05);
			padding: 20px;
			font-size: em(20);
			font-family: 'steagal_ze_light';
			overflow: hidden;
			span.label {
				background-color: rgba(0,0,0,0.05);
				color: #fff;
				padding: 10px 20px;
				margin: -10px 0 20px -10px;
				display: block;
				@include border-radius(200px);
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				@include media($sm) {
					float: left;
					display: inline;
					margin: -10px 10px -10px -10px;
				}				
				@include media($md) {
					display: block;
					float: none;
					margin: -10px 0 20px -10px;
				}
				@include media($lg) {
					float: left;
					display: inline;
					margin: -10px 10px -10px -10px;
				}				
			}
			span.red { background-color: $red; }
			span.orange { background-color: $orange; }
			span.yellow { background-color: $yellow; }		
			span.green { background-color: $green; }	
			span.blue { background-color: $blue; }
			span.position {
				display: block;
				@include media($sm) {
					float: left;
					display: inline;
				}			
			}					
			span.year {
				display: block;
				@include media($sm) {
					float: right;
					display: inline;
				}
			}
			@include span-columns(12);
			// Responsive
			@include media($sm) {
		    	@include span-columns(4);
			}
			@include media($md) {
				@include span-columns(4);
				@include omega(2n);
			}
			@include media($lg) {
		    	@include omega-reset(2n);
				@include span-columns(6);
				@include omega(2n);
			}
		}
	}		
}

/* Instafeed
============================================================================*/

#instafeed {
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 20px;
		img {
			/* border: 10px solid #fff; */
			@include border-radius(10px);
		}
		@include span-columns(12);
		// Responsive
		@include media($sm) {
	    	@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(4);
			@include omega(2n);
		}
		@include media($lg) {
	    	@include omega-reset(2n);
			@include span-columns(3);
		}
		@include media($xl) {
	    	@include omega-reset(3n);
			@include span-columns(3);
		}
	}		
}

/* Contact Det's
============================================================================*/

#contact {
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 40px;
		text-align: center;
		img {
			width: 30%;
			margin: 0 20px;
			@include media($sm) {
				width: 40%;
			}			
			@include media($md) {
				width: 30%;
			}
			@include media($lg) {
				width: 50%;
			}
		}
		a {
			span {
				display: block;
			}
		}
		@include span-columns(12);
		// Responsive
		@include media($sm) {
	    	@include span-columns(2);
	    	@include omega(2n);
		}
		@include media($md) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(2n);
		}
		@include media($lg) {
	    	@include omega-reset(2n);
			@include span-columns(3);
		}
		@include media($xl) {
	    	@include omega-reset(3n);
			@include span-columns(3);
		}
	}		
}


/* IE8 fallback
============================================================================*/
@media screen and (min-width: 1024px) {
	html.lt-ie9 {
		#projects ul li {
			width: 29.5%;		
		}
		#projects ul li:last-child {
			margin-right: 0;
		}
		#experience dl li {
			width: 47.0%;
		}
		#contact li {
			width: 22%;
		}
	}
}
